@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Montserrat:wght@100&family=Qwitcher+Grypen&family=Tilt+Prism&display=swap');


.reset-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);

}

.reset-form{
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);    border-radius: 5px;
}

.title{
   display: flex;
    justify-content: center;
    align-items: center; 
     font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.input-area{
     display: flex;
    justify-content: space-between;
    align-items: center;
}