
.container-fluid{
    margin: auto;
    background-color: #7C1034;
    height:100vh;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.reset-form{
    background-color: hsl(213, 100%, 91%);
    padding: 15px;
    border-radius: 5px;
}






.form-heading{
    text-align: center;
    color:#7C1034;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-text{
    font-size: large;
    font-weight: bold;
    color:#7C1034;
    margin-top: 15px;
    margin-bottom: 15px;
}

.submit-btn-div{
    margin-top: 25px;
   text-align: center;
}





